.wrapper {
    display: flex;

    main {
        flex: 1;
    }
}

@media(max-width: 1024px) {
    .wrapper {
        flex-direction: column;
    }
}

@media(max-width: 768px) {
    .wrapper {
        flex-direction: column;
    }
}