.headerContainer {
    background-color: var(--theme-header-background);
    height: 6.5rem;

    display: flex;
    align-items: center;

    padding: 2rem 4rem;

    border-bottom: 1px solid var(--gray--100);

    img {
        cursor: pointer;
    }

    p {
        margin-left: 2rem;
        padding: 0.25rem 0 0.25rem 2rem;

        border-left: 1px solid var(--gray-100);
    }

    span {
        margin-left: auto;
        text-transform: capitalize;
        display: flex;
        align-items: center;

        .reactToggle {
            margin-left: 2rem;

            .icons {
                position: absolute;
                top: -.25rem;
                left: -.1rem;
                font-size: 1.2rem;
            }
        }
    }
}

@media(max-width: 1024px) {
    .headerContainer {
        width: 100vw;
        position: fixed;
        z-index: 20;
    }
}

@media(max-width: 425px) {
    .headerContainer {
        padding: 0 1.5rem;
    }

    .headerContainer {
        
        p{
            display: none;
        }
    }
}

@media(max-width: 320px) {
    .headerContainer {
        img {
            width: 40%;
        }
    }
}