.playerContainer {
    padding: 3rem 4rem;
    width: 26.5rem;
    height: 100vh;

    background-color: var(--purple-500);
    color: var(--white);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    header {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    strong {
        font-family: Lexend, sans-serif;
        font-weight: 600;
    }

    footer {
        align-self: stretch;

        &.empty .progress {
            opacity: 0.5;
        }
    }
}

.currentEpisode {
    text-align: center;

    img {
        border-radius: 1.5rem;
    }

    strong {
        display: block;
        margin-top: 2rem;
        font: 600 1.5rem Lexend, sans-serif;
        line-height: 1.75rem;
    }

    span {
        display: block;
        margin-top: 1rem;
        opacity: 0.6;
        line-height: 1.5rem;
    }
}

.emptyPlayer {
    width: 100%;
    height: 20rem;
    border: 1.5px dashed var(--purple-300);
    border-radius: 1.5rem;
    background: linear-gradient(143.8deg, rgba(145, 100, 250, 0.8) 0%, rgba(0, 0, 0, 0)100%);

    padding: 4rem;
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;
}

.progress {
    display: flex;
    align-items: center;
    gap: .5rem;
    font-size: .875rem;

    span {
        display: inline-block;
        width: 4rem;
        text-align: center;
    }

    .slider {
        flex: 1;

        .emptySlider {
            width: 100%;
            height: 4px;
            background-color: var(--purple-300);
            border-radius: 2px;
        }
    }
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2.5rem;
    gap: 1.5rem;

    button {
        background-color: transparent;
        border: 0;
        font-size: 0;

        transition: filter .2s;

        &:disabled {
            cursor: default;
            opacity: .5;
        }

        &:hover:not(:disabled) {
            filter: brightness(.8);
        }

        &.isActive {
            filter: invert(0.35) sepia(1) saturate(3) hue-rotate(100deg)
        }

        &.isActive:hover {
            filter: brightness(0.6) invert(0.35) sepia(1) saturate(3) hue-rotate(100deg)
        }

        &.playButton {
            width: 4rem;
            height: 4rem;
            border-radius: 1rem;
            background-color: var(--purple-300);

            &:hover:not(:disabled) {
                filter: brightness(.95);
            }
        }
    }
}

@media(max-width: 1024px) {
    .playerContainer {
        width: 100vw;
        height: 8rem;
        flex-direction: row;
        position: fixed; 
        bottom: 0;

        header {
            display: none;
        }

        strong {
            font-size: .5rem;
        }

        footer {
            width: 33rem;
            align-self: center;
        }
    }

    .currentEpisode {
        display: flex;

        text-align: left;

        img {
            width: 5rem;
            height: 5rem;
            border-radius: 1rem;
        }

        .titles {
            width: 70%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            

            margin-left: 2rem;

            strong {
                width: 100%;
                font-size: .9rem;
                margin-top: 0;

                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            span {
                width: 100%;
                margin-top: .1rem;
                font-size: .8rem;

                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }

    .emptyPlayer {
        width: 5rem;
        height: 5rem;

        padding: 1rem;
        border-radius: 1rem;
    }

    .progress {
        .slider {
            width: 100%;
        }
    }

    .buttons {
        width: 100%;
        margin-top: .5rem;

        button {

            &.playButton {
                width: 3.5rem;
                height: 3.5rem;
                border-radius: .5rem;
            }
        }
    }
}

@media(max-width: 768px) {
    .playerContainer {
        
        footer {
            width: 50%;
            align-self: center;
        }
    }

    .currentEpisode {
        width: 50%;
        .titles {
            width: 60%;
        }
    }

    .buttons {
        width: 100%;
        margin-top: .5rem;

        button {

            &.playButton {
                width: 3.5rem;
                height: 3.5rem;
                border-radius: .5rem;
            }
        }
    }
}

@media(max-width: 425px) {
    .playerContainer {
        padding: 0 1rem;
        strong {
            display: none;
        }
        
        footer {
            width: 100%;
            align-self: center;
        }
    }

    .emptyPlayer {
        display: none;
    }

    .currentEpisode {
        display: none;
    }

    .buttons {
        width: 100%;
        margin-top: .5rem;

        button {

            &.playButton {
                width: 3.5rem;
                height: 3.5rem;
                border-radius: .5rem;
            }
        }
    }
}